---
title: Jogosultságok és jóváírások | Decidim
description:
---
<div class="container container-vertical">
  <div class="container--text-col">
    <h1 class="page-title">Jogosultságok és jóváírások</h1>
    <p>
      A Decidim.org a  <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons By-SA</a> engedély alapján kerül kiadásra, a barcelonai városi tanács állampolgársági, részvételi és átláthatósági jogainak kutatási, fejlesztési és innovációs osztályán.
    </p>
    <%# <h2>Iconos</h2>
    <p>
      A főoldalon ábrázolt ikonok a The Noun Project -től származnak, a <a href="https://thenounproject.com/monstercritic/" target="_blank">Shmidt Sergey</a> munkái:
    </p>
    <ul>
      <li>
        <a href="https://thenounproject.com/term/choices/598266/" target="_blank">Ikon <strong>Opciók</strong> (Opciók)</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/strategy/595298/" target="_blank">Ikon <strong>Stratégia</strong> (Stratégia)</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/pie-chart/576696/" target="_blank">Ikon <strong>Kördiagram</strong> (Kördiagram)</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/help-message/691809/" target="_blank">Ikon <strong>Súgó üzenet</strong> (Súgó üzenet)</a>
      </li>
    </ul> %>
  </div>
</div>
