---
title: Demo | Decidim
description:
---
<div class="container container-vertical-top">
  <div class="container--text-col">
    <h1 class="page-title">Online Demo</h1>
    <p>
      Játsszon és fedezze fel szabadon a Decidim platformot online bemutatónk segítségével.
    </p>

    <p>
      A Decidim számos példányban van jelen és fut, amelyeket meglátogathat és felfedezhet, <a href="http://decidim.barcelona" target="_blank">Decidim Barcelona</a> vagy a Barcelona városában, vagy meglátogathatja a <a href="https://participa.gavaciutat.cat/" target="_blank">Gavà</a> és <a href="https://www.lhon-participa.cat/" target="_blank">L'Hospitalet</a> oldalakat. De ezek olyan valódi példányok, amelyekben nem szabad szabadon játszani, mivel valószínűleg nem vagy ezen önkormányzatok polgára, és rendszergazdaként sem fedezheted fel ezeket a webhelyeket.
    </p>

    <p>
      Ha tovább akarsz menni, üdvözölünk a Decidim tesztelésében a Decidim Demo oldalunkon (az <a href="http://www.edemokracia.hu" target="_blank">aDemokrácia</a> fejlesztõinek jóvoltából). Lépj be a bemutató oldalra, és fedezzd fel szabadon a Decidim lehetőségeit és jellemzőit.
    </p>
    <p>
      Bejelentkezhetsz <strong>Admin</strong> -ként (username "<strong>admin@example.org</strong>" és a jelszó "<strong>decidim123456</strong>").
    </p>

    <div class="page__cta">
      <a href="http://tfured-evoks.ddns.net/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
    </div>
  </div>
  
</div>
